<section class="catalog" id="catalog">
  <div class="container catalog-container">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list">
      <li class="catalog-item">
        <picture class="catalog-picture">
          <source
            class="catalog-img"
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/watches-desk-one.webp    1x,
              /img/catalog/watches-desk-one@2x.webp 2x
            "
          />
          <source
            class="catalog-img"
            media="(min-width: 768px)"
            srcset="
              /img/catalog/watches-tab-one.webp    1x,
              /img/catalog/watches-tab-one@2x.webp 2x
            "
          />
          <source
            class="catalog-img"
            media="(max-width: 767px)"
            srcset="
              /img/catalog/watches-mob-one.webp    1x,
              /img/catalog/watches-mob-one@2x.webp 2x
            "
          />
          <img
            class="catalog-img"
            src="/img/catalog/watches-mob-one.webp"
            alt="watches"
            width="208"
            height="226"
          />
        </picture>
        <div class="catalog-box">
          <h3 class="catalog-subtitle">Garmin Fenix 7X Pro Sapphire Solar</h3>
          <p class="catalog-text text">€500</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture class="catalog-picture">
          <source
            class="catalog-img"
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/watches-desk-two.webp    1x,
              /img/catalog/watches-desk-two@2x.webp 2x
            "
          />
          <source
            class="catalog-img"
            media="(min-width: 768px)"
            srcset="
              /img/catalog/watches-tab-two.webp    1x,
              /img/catalog/watches-tab-two@2x.webp 2x
            "
          />
          <source
            class="catalog-img"
            media="(max-width: 767px)"
            srcset="
              /img/catalog/watches-mob-two.webp    1x,
              /img/catalog/watches-mob-two@2x.webp 2x
            "
          />
          <img
            class="catalog-img"
            src="/img/catalog/watches-mob-two.webp"
            alt="watches"
            width="208"
            height="226"
          />
        </picture>
        <div class="catalog-box">
          <h3 class="catalog-subtitle">Garmin Marq Athlete</h3>
          <p class="catalog-text text">€450</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture class="catalog-picture">
          <source
            class="catalog-img"
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/watches-desk-three.webp    1x,
              /img/catalog/watches-desk-three@2x.webp 2x
            "
          />
          <source
            class="catalog-img"
            media="(min-width: 768px)"
            srcset="
              /img/catalog/watches-tab-three.webp    1x,
              /img/catalog/watches-tab-three@2x.webp 2x
            "
          />
          <source
            class="catalog-img"
            media="(max-width: 767px)"
            srcset="
              /img/catalog/watches-mob-three.webp    1x,
              /img/catalog/watches-mob-three@2x.webp 2x
            "
          />
          <img
            class="catalog-img"
            src="/img/catalog/watches-mob-three.webp"
            alt="watches"
            width="208"
            height="226"
          />
        </picture>

        <div class="catalog-box">
          <h3 class="catalog-subtitle">Garmin Descent MK1</h3>
          <p class="catalog-text text">€680</p>
        </div>
      </li>
      <li class="catalog-item">
        <picture class="catalog-picture">
          <source
            class="catalog-img"
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/watches-desk-four.webp    1x,
              /img/catalog/watches-desk-four@2x.webp 2x
            "
          />
          <source
            class="catalog-img"
            media="(min-width: 768px)"
            srcset="
              /img/catalog/watches-tab-four.webp    1x,
              /img/catalog/watches-tab-four@2x.webp 2x
            "
          />
          <source
            class="catalog-img"
            media="(max-width: 767px)"
            srcset="
              /img/catalog/watches-mob-four.webp    1x,
              /img/catalog/watches-mob-four@2x.webp 2x
            "
          />
          <img
            class="catalog-img"
            src="/img/catalog/watches-mob-four.webp"
            alt="watches"
            width="208"
            height="226"
          />
        </picture>

        <div class="catalog-box">
          <h3 class="catalog-subtitle">Garmin D2 Delta PX</h3>
          <p class="catalog-text text">€380</p>
        </div>
      </li>
      <li class="catalog-item none">
        <picture class="catalog-picture">
          <source
            class="catalog-img"
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/watches-desk-five.webp    1x,
              /img/catalog/watches-desk-five@2x.webp 2x
            "
          />
          <source
            class="catalog-img"
            media="(min-width: 768px)"
            srcset="
              /img/catalog/watches-tab-five.webp    1x,
              /img/catalog/watches-tab-five@2x.webp 2x
            "
          />
          <source
            class="catalog-img"
            media="(max-width: 767px)"
            srcset="
              /img/catalog/watches-mob-one.webp    1x,
              /img/catalog/watches-mob-one@2x.webp 2x
            "
          />
          <img
            class="catalog-img"
            src="/img/catalog/watches-mob-one.webp"
            alt="watches"
            width="208"
            height="226"
          />
        </picture>

        <div class="catalog-box">
          <h3 class="catalog-subtitle">Garmin Fenix 6 Pro Solar</h3>
          <p class="catalog-text text">€400</p>
        </div>
      </li>
      <li class="catalog-item none">
        <picture class="catalog-picture">
          <source
            class="catalog-img"
            media="(min-width: 1280px)"
            srcset="
              /img/catalog/watches-desk-six.webp    1x,
              /img/catalog/watches-desk-six@2x.webp 2x
            "
          />
          <source
            class="catalog-img"
            media="(min-width: 768px)"
            srcset="
              /img/catalog/watches-tab-six.webp    1x,
              /img/catalog/watches-tab-six@2x.webp 2x
            "
          />
          <source
            class="catalog-img"
            media="(max-width: 767px)"
            srcset="
              /img/catalog/watches-mob-two.webp    1x,
              /img/catalog/watches-mob-two@2x.webp 2x
            "
          />
          <img
            class="catalog-img"
            src="/img/catalog/watches-mob-two.webp"
            alt="watches"
            width="208"
            height="226"
          />
        </picture>

        <div class="catalog-box">
          <h3 class="catalog-subtitle">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="catalog-text text">€395</p>
        </div>
      </li>
    </ul>
    <button class="catalog-btn" type="button">Show more</button>
  </div>
</section>
