<section>
  <div class="container header">
    <nav class="nav">
      <a href="./index.html" class="nav-logo">watchcharm</a>

      <ul class="header-list">
        <li class="header-list-item">
          <a class="header-items current" href="#home">Home</a>
        </li>
        <li class="header-list-item">
          <a class="header-items" href="#about-us">About Us</a>
        </li>
        <li class="header-list-item">
          <a class="header-items" href="#catalog">Catalog</a>
        </li>
        <li class="header-list-item">
          <a class="header-items" href="#sale">Sale</a>
        </li>
        <li class="header-list-item">
          <a class="header-items" href="#reviews">Reviews</a>
        </li>
        <li class="header-list-item">
          <a class="header-items" href="#contacts-us">Contact Us</a>
        </li>
      </ul>
    </nav>
    <div class="icon-header-div">
      <ul class="icon-header-list">
        <li class="icon-header-items">
          <a
            href="https://www.youtube.com/c/GoIT"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="icon-header-svg" width="36" height="36">
              <use
                class="icon-header-use"
                href="/img/sprite.svg#icon-facebook"
              ></use>
            </svg>
          </a>
        </li>
        <li class="icon-header-items">
          <a
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="icon-header-svg" width="36" height="36">
              <use
                class="icon-header-use"
                href="/img/sprite.svg#icon-instagram"
              ></use>
            </svg>
          </a>
        </li>
        <li class="icon-header-items">
          <a
            href="https://www.youtube.com/c/GoIT "
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg class="icon-header-svg" width="36" height="36">
              <use
                class="icon-header-use"
                href="/img/sprite.svg#icon-youtube"
              ></use></svg
          ></a>
        </li>
      </ul>
    </div>

    <button class="icon-btm" type="button">
      <svg class="icon-btm-svg" width="40" height="40">
        <use class="icon-btm-use" href="../img/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</section>
