<section class="hero" id="hero">
  <div class="container hero-container">
    <div class="hero-text">
      <div class="hero-content">
        <h1 class="hero-title">
          Welcome to our <span class="highlight">collection</span> of premium
          watches
        </h1>

        <p class="hero-title-content">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="avatars">
        <ul class="avatar-list">
          <li class="avatar-item">
            <picture>
              <source
                srcset="
                  /img/hero/photo1-desk-1x.png 1x,
                  /img/hero/photo1-desk-2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/hero/photo1-tablet-1x.png 1x,
                  /img/hero/photo1-tablet-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/hero/photo1-mob-1x.png 1x,
                  /img/hero/photo1-mob-2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="avatar"
                src="/img/hero/photo1-desk-2x.png"
                alt="User-1"
              />
            </picture>
          </li>
          <li class="avatar-item">
            <picture>
              <source
                srcset="
                  /img/hero/photo2-desk-1x.png 1x,
                  /img/hero/photo2-desk-2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/hero/photo2-tablet-1x.png 1x,
                  /img/hero/photo2-tablet-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/hero/photo2-mob-1x.png 1x,
                  /img/hero/photo2-mob-2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="avatar"
                src="/img/hero/photo2-desk-2x.png"
                alt="User-2"
              />
            </picture>
          </li>
          <li class="avatar-item">
            <picture>
              <source
                srcset="
                  /img/hero/photo3-desk-1x.png 1x,
                  /img/hero/photo3-desk-2x.png 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  /img/hero/photo3-tablet-1x.png 1x,
                  /img/hero/photo3-tablet-2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  /img/hero/photo3-mob-1x.png 1x,
                  /img/hero/photo3-mob-2x.png 2x
                "
                media="(min-width: 320px)"
              />
              <img
                class="avatar"
                src="/img/hero/photo3-desk-2x.png"
                alt="User-3"
              />
            </picture>
          </li>
        </ul>
        <a href="#footer" class="scroll-link">Scroll down</a>
      </div>
    </div>
    <div class="hero-image">
      <picture>
        <source
          srcset="
            /img/hero/Rectangle-desk-1x.png 1x,
            /img/hero/Rectangle-desk-2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/hero/Rectangle-tablet-1x.png 1x,
            /img/hero/Rectangle-tablet-2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/hero/Rectangle-mob-1x.png 1x,
            /img/hero/Rectangle-mob-2x.png 2x
          "
          media="(min-width: 320px)"
        />
        <img
          class="pic-hero"
          src="/img/hero/Rectangle-mob-2x.png"
          alt="Black-watch"
        />
      </picture>
    </div>
  </div>
</section>
