<section class="section-sale" id="sale">
    <div class="container">
        <h2 class="section-header">Sale</h2>
        <div class="sale-wrapper">
            <div class="pictures-wrapper">
                <div class="sale-section">
                    <ul class="sale-section-list">
                        <li class="sale-section-list-item">

                            <picture>
                                <source srcset="/img/sale/small-watch1-dt.png 1x, /img/sale/small-watch1-dt-2x.png 2x"
                                    media="(min-width:768px)">
                                <source srcset="/img/sale/small-watch1-mob.png 1x, /img/sale/small-watch1-mob-2x.png 2x"
                                    media="(min-width:320px)">
                                <img src="/img/sale/small-watch1-dt.png" alt="small-watch" width="96" />
                            </picture>

                        </li>
                        <li class="sale-section-list-item">

                            <picture>
                                <source srcset="/img/sale/small-watch2-dt.png 1x, /img/sale/small-watch2-dt-2x.png 2x"
                                    media="(min-width:768px)">
                                <source srcset="/img/sale/small-watch2-mob.png 1x, /img/sale/small-watch2-mob-2x.png 2x"
                                    media="(min-width:320px)">
                                <img src="/img/sale/small-watch2-dt.png" alt="small-watch" width="96" />
                            </picture>

                        </li>
                        <li class="sale-section-list-item">

                            <picture>
                                <source srcset="/img/sale/small-watch3-dt.png 1x, /img/sale/small-watch3-dt-2x.png 2x"
                                    media="(min-width:768px)">
                                <source srcset="/img/sale/small-watch3-mob.png 1x, /img/sale/small-watch3-mob-2x.png 2x"
                                    media="(min-width:320px)">
                                <img src="/img/sale/small-watch3-dt.png" alt="small-watch" width="96" />
                            </picture>

                        </li>
                        <li class="sale-section-list-item">

                            <picture>
                                <source srcset="/img/sale/small-watch4-dt.png 1x, /img/sale/small-watch4-dt-2x.png 2x"
                                    media="(min-width:768px)">
                                <source srcset="/img/sale/small-watch4-mob.png 1x, /img/sale/small-watch4-mob-2x.png 2x"
                                    media="(min-width:320px)">
                                <img src="/img/sale/small-watch4-dt.png" alt="small-watch" width="96" />
                            </picture>

                        </li>
                    </ul>
                </div>


                <div class="sale-section big-watch">
                    <picture>
                        <source srcset="/img/sale/big-watch-dt.png 1x, /img/sale/big-watch-dt-2x.png 2x"
                            media="(min-width:768px)">
                        <source srcset="/img/sale/big-watch-mob.png 1x, /img/sale/big-watch-mob-2x.png 2x"
                            media="(min-width:320px)">
                        <img src="/img/sale/big-watch-dt.png" alt="big-watch" width="328" />
                    </picture>
                </div>
            </div>
            <div class="sale-section accent">
                <h3 class="sale-section-header">MARQ® Commander (Gen 2) - Carbon Edition</h3>
                <p class="sale-section-tag">Product tag: 706587</p>
                <div class="sale-section-price-wrapper">
                    <p class="sale-section-price">€1500</p>
                    <p class="sale-section-price-prv">€3000</p>
                </div>
                <p class="sale-section-dsc">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for
                    adventurers that takes materials and features
                    to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has
                    a precise AMOLED
                    touch screen. The sensitive touch screen is complemented by buttons that can be used in any
                    conditions.</p>
                <ul class="sale-styles-list">
                    <li class="sale-styles-item">
                        <p class="sale-styles">Fused carbon fiber</p>
                    </li>
                    <li class="sale-styles-item">
                        <p class="sale-styles">Grade-5 Titanuim</p>
                    </li>
                    <li class="sale-styles-item">
                        <p class="sale-styles">Athlete</p>
                    </li>
                    <li class="sale-styles-item">
                        <p class="sale-styles">Golfer</p>
                    </li>
                    <li class="sale-styles-item">
                        <p class="sale-styles">Commander</p>
                    </li>
                    <li class="sale-styles-item">
                        <p class="sale-styles">Adventurer</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>