/*hero*/

.hero {
  padding-top: 60px;
  padding-bottom: 30px;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 20px;
}

.highlight {
  color: #3350e9;
}

.hero-title-content {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.avatars {
  display: flex;
  margin-top: 28px;
}

.avatar-list {
  display: flex;
}

.avatar-item {
  display: flex;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid #fbfbfb;
  object-fit: cover;
  margin-left: -12px;
}

.avatar-item:first-child {
  margin-left: 0;
}

.scroll-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-decoration: underline;
  color: #0c0c0c;
  text-align: right;
  margin-top: auto;
  margin-left: auto;
}

.scroll-link:hover,
.scroll-link:focus {
  color: #3350e9;
}

.hero-image {
  margin-top: 28px;
  max-width: 100%;
  border-radius: 30px;
}

/* ≥ 768px */
@media screen and (min-width: 768px) {
  .hero {
    align-items: flex-start;
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .hero-text {
    display: flex;
  }

  .hero-title {
    max-width: 100%;
    text-align: left;
    font-weight: 600;
    font-size: 70px;
    line-height: 0.86;
    letter-spacing: -0.02em;
    color: #0c0c0c;
  }

  .hero-title-content {
    max-width: 480px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-top: 20px;
  }

  .hero-image {
    max-width: 100%;
    text-align: center;
    border-radius: 24px;
    object-fit: cover;
    margin-top: 40px;
  }

  .avatars {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 100%;
  }

  .avatar-item {
    width: 56px;
    height: 56px;
  }

  .scroll-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0c0c0c;
    text-align: left;
    margin-top: 16px;
  }

  .pic-hero {
    width: 100%;
    height: auto;
    border-radius: 24px;
    object-fit: cover;
  }
}

/* ≥ 1280px */
@media (min-width: 1280px) {
  .hero {
    padding-bottom: 50px;
  }

  .hero-text {
    display: flex;
    justify-content: space-between;
  }

  .hero-title {
    max-width: 597px;
    font-size: 72px;
    line-height: 0.88;
    letter-spacing: -0.02em;
  }

  .avatar-item {
    width: 60px;
    height: 60px;
  }
}
